In [1]:
import pandas as pd
import nltk
from nltk.parse.corenlp import CoreNLPDependencyParser
import stanfordnlp

In [2]:
data_review = pd.read_csv('./data/Performance Review Analysis.csv')

In [3]:
data_review.head()

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,Person 1: please comment on job performance during the last year.,...,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Open-Ended Response,...,Person 2 - 5 - Star,Person 2 - 4 - Strong performer,Person 2 - 3 - Met expectations,Person 2 - 2 - Below expectations,Person 2 - 1 - Poor,Person 3 - 5 - Star,Person 3 - 4 - Strong performer,Person 3 - 3 - Met expectations,Person 3 - 2 - Below expectations,Person 3 - 1 - Poor
1,6.759808e+09,171202168.0,03/15/2018 12:56:08 PM,03/15/2018 01:02:46 PM,NaN,NaN,NaN,NaN,NaN,You are the most rewarding person to work with...,...,NaN,NaN,3 - Met expectations,NaN,NaN,NaN,4 - Strong performer,NaN,NaN,NaN
2,6.759515e+09,171202168.0,03/15/2018 11:21:50 AM,03/15/2018 11:28:27 AM,NaN,NaN,NaN,NaN,NaN,He is very thorough and diligent in his work.,...,NaN,NaN,3 - Met expectations,NaN,NaN,NaN,NaN,3 - Met expectations,NaN,NaN
3,6.759493e+09,171202168.0,03/15/2018 11:11:48 AM,03/15/2018 11:21:41 AM,NaN,NaN,NaN,NaN,NaN,X is very knowledgeable of the project and is ...,...,NaN,NaN,3 - Met expectations,NaN,NaN,NaN,NaN,3 - Met expectations,NaN,NaN
4,6.759063e+09,171202168.0,03/15/2018 08:58:16 AM,03/15/2018 09:02:59 AM,NaN,NaN,NaN,NaN,NaN,The quality that he produced demonstrated that...,...,NaN,NaN,3 - Met expectations,NaN,NaN,NaN,NaN,3 - Met expectations,NaN,NaN

In [4]:
idx_list = [data_review.columns[i] for i in range(len(data_review.columns))]

In [5]:
idx_list[9:18]

['Person 1: please comment on job performance during the last year.',
 'Person\xa01: please comment on how this person has worked with others.',
 'Person 1: please suggest areas of improvement and targets for the next year.',
 'Person 2: please comment on job performance during the last year.',
 'Person 2: please comment on how this person has worked with others.',
 'Person 2: please suggest areas of improvement and targets for the next year.',
 'Person 3: please comment on job performance during the last year.',
 'Person 3: please comment on how this person has worked with others.',
 'Person 3: please suggest areas of improvement and targets for the next year.']

In [6]:
lst = []
dataset = pd.DataFrame()
for i in range(9,18):
    dataset['review'] = data_review[idx_list[i]]
    lst += dataset['review'].to_list()

In [7]:
len(lst)

333

In [8]:
import pickle
with open('./data/performanceReview.pkl', 'wb') as f:
    pickle.dump(lst, f)